@tailwind base;

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(39, 39, 42) rgb(24, 24, 27);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: rgb(24, 24, 27);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(39, 39, 42);
  border-radius: 14px;
  border: 3px solid rgb(24, 24, 27);
}

@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@layer base {
  html, body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}
